body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #80bf43;
  color: #fff;
}
.container {
  width: 350px;
  padding-bottom: 20px;
}
.leaflet-container {
  width: 100%;
  height: 300px;
}
.map-page {
  display: flex;
  flex-direction: column;
}
.nav-menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 11px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 0;
}
.nav-menu li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  padding-right: 10px;
  line-height: 55px;
  font-weight: bold;
}
.nav-menu a {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.nav-menu li:last-child a {
  border-right: none;
}
.information {
  padding-left: 5px;
  text-align: left;
  margin-bottom: 10px;
}
.add-rubbish {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  color: #fff;
  padding: 5px;
  margin-bottom: 15px;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.add-rubbish:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.forme-add-location textarea {
  width: 100%;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
  .App {
    flex-direction: row;
  }
  .container {
    width: 800px;
  }
  .leaflet-container {
    width: 50%;
  }
  .map-page {
    flex-direction: row;
  }
  .information,
  .leaflet-container {
    width: 50%;
  }
  .leaflet-container {
    margin-left: 10px;
  }
  .forme-add-location {
    width: 50%;
    margin-left: 10px;
  }
}
